<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!--<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>-->
<script type="text/javascript" src="/bower_components/twitter-bootstrap-sass/vendor/assets/javascripts/bootstrap.js"></script>
<script type="text/javascript" src="/assets/scripts/main.min.js"></script>

</body>
</html>